extends layout 

block content 
  h1 #{title}
  p  #[Strong #{book.title}]
  p #{book.summary}
  p Author: #{book.author.name}
  p ISBN: #{book.isbn}

  if bookCopies.length

    p #[strong Delete the following books copies before attempting to delete this book.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Books Copies 

      dl
      each copy in bookCopies
        dt
          a(href=copy.url) #{copy._id}
        dd #{copy.imprint}

  else
    p Do you really want to delete this Book ?

    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
